.header{
    background-color: rgb(126, 185, 185);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.main{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.form{
    width: 30%;
    /* border: 2px solid black; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color:black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
input{
    padding: 10px;
    border-radius: 20px;
    border:none;
    background-color: white;
    margin:10px 20px;
}
input:focus{
    outline: none;
}
button{
    padding: 10px;
    width: 80px;
    background-color: rgb(126, 185, 185);
    color: white;
    border: none;
    border-radius: 20px;
    color: black;
    margin:10px 20px;
    cursor: pointer;
}
.display{
    overflow-y: scroll;
    max-height: 320px;
    scroll-behavior: smooth;
}
* { 
    scrollbar-width: thin;
    scrollbar-color: black transparent;
  }
.listComponent{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(126, 185, 185);
    /* background-color:cadetblue; */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.item{
    padding: 10px;
    max-width: 550px;
}
.itemContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.removeItem{
    margin: 0 10px;
    padding: 0;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}